:root {
  --dark: #0f0a0a;
  --light: #f5efed;
  --accent: #2292a4;
  --success: #cbe896;
}

body {
  background-color: var(--dark);
  color: #fff;
  text-align: center;
  margin: 0;
  font-family: "Arvo", "Arial", "Verdana", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
